/* Container for the homepage */
.body{
  margin: 0;
}
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: relative;
    overflow: hidden; 
  }
  
  
  /* Image styling */
  .image-container {
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
    margin-top: -70px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
  }
  
  /* Text styling */
  .text-container {
    position: absolute;
    opacity: 0; /* Start hidden */
    animation: fadeInMoveUp 1.2s ease-out 1.5s forwards; /* Delayed animation */
    text-align: center;
  }
  
  .text-container h1 {
    font-size: 5rem;
    margin: 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #222831;
    
  }
  
  
  /* Keyframe animation for moving the image down */
  @keyframes moveDown {
    0% {
      opacity: 0;
      transform: translateY(0); /* Start at center */
    }
    100% {
      opacity: 1;
      transform: translateY(20px); /* Slightly move down */
    }
  }
  
  /* Keyframe animation for fading in and moving text up */
  @keyframes fadeInMoveUp {
    0% {
      opacity: 0;
      transform: translateY(0); /* Start slightly below */
    }
    100% {
      opacity: 1;
      transform: translateY(-100px); /* Move up to center */
    }
  }
  
  .cta-button {
    position: absolute;
    bottom: 35%; 
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-family: "Russo One", sans-serif;
    color: #222831;
    background-color: #7dff32;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  /* Hover effects */
  .cta-button:hover {
    background-color: #222831; 
    color: white;
    transform: translateY(-2px);
  }
  
  /* Focus effects */
  .cta-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(62, 142, 65, 0.5);
  }

  /* Marquee container */
.marquee-container {
  position: absolute;
  width: 100%;
  overflow: hidden; /* Prevent scrolling elements from spilling out */
  background: #181C14; 
  padding: 1rem 0; 
  flex-direction: row;
  flex: auto;
  bottom: 0;
}

/* Marquee text */
.marquee {
  font-size: 1.5rem; 
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white; 
  font-family: "Russo One", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    
}

.marquee-part{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
  gap: 2rem; 
  white-space: nowrap; 
}

@media (max-width: 768px) {
  .text-container h1 {
    font-size: 6vw; /* Slightly larger for smaller screens */
  }
  
}

@media (max-width: 480px) {
  .text-container h1 {
    font-size: 10vw; /* Adjust for very small screens */
  }
  
}
